/web/nbproject/private/
/web/45d1dd53-e3b4-482e-9341-e41bb9a4fa47/
/web/Uploads/45d1dd53-e3b4-482e-9341-e41bb9a4fa47/
/web/Public/pdfjs/node_modules/
/web/Application/RunTime/
/.git/
/.idea/
/.svn/
/web/Uploads/
Desktop.ini
